* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #eee;
}
.container{
  height: auto;
  width: 50%;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#heading, #heading2{
  text-align: center;
  border-bottom: 1px solid gray;
  width:50%;
  margin:auto auto 3rem auto;
  padding:0 0 13px 0;

}

 #heading2{
  text-align: center;
  border: 1px solid gray;
  border-radius: 5px;
  text-align: center;
  width:50%;
  margin:auto auto 3rem auto;
  padding:9px 0 13px 0;

}

#taskarea{
  margin: 0 0 2rem 0;
  text-align: center;
  width: 50%;
  padding: 5px;
  border-radius: 5px;
}

